.conference-page {
  padding: 20px;
}

.details-section {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.details-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  text-align: center;
  width: 100%;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  filter: brightness(0.5);
}

.card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 90%;

}

.card-content h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  white-space: nowrap;
}

.about-conference-date {
  white-space: inherit;
  margin-bottom: 0.2rem;
}

.card-content .info {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
}

.card-content svg {
  margin-right: 8px;
}

.card-content button {
  padding: 8px 16px;
  background-color: #0066cc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  max-width: 100%;

  word-wrap: break-word;

}

.card-content button:hover {
  background-color: #005bb5;
}


.about-conference {
  flex: 1;
  padding-left: 40px;
}

.about-conference h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about-conference-p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 20px;
  text-align: justify;
  margin-right: 1rem;
}

/* Responsive Design */
@media (max-width: 1280px) {
  .details-section {
    flex-direction: column;
  }

  .details-cards {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  .card-content {
    width: 85%;

    top: 45%;

    left: 50%;
    transform: translate(-50%, -45%);
  }

  .card-content h3 {
    font-size: 1.3rem;

  }

  .card-content button {
    padding: 6px 12px;

    font-size: 0.9rem;
  }

  .about-conference {
    padding-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 1024px) {
  .details-section {
    flex-direction: column;
  }

  .details-cards {
    grid-template-columns: 1fr;
  }

  .about-conference {
    padding-left: 0;
    margin-top: 20px;
  }
}


@media (max-width: 768px) {
  .card-content {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 85%;
  }

  .card-content h3 {
    font-size: 1.2rem;
  }

  .card-content button {
    padding: 8px 14px;
    font-size: 0.9rem;
  }
}