.cacellation-container{
    color: #576542;
    padding: 3rem;
    width: 80%;
    text-align: justify;
    justify-content: center;
    margin: 0 auto;

}
.cacellation-up{
    text-align: center;
}
.cacellation-h1{
    white-space: inherit;
    font-size: 2rem;
}
.cacellation-link{
    white-space: inherit;
    font-size: 2rem;
    color: #3d7a00;
}
.cacellation-content{
    font-size: 1rem;
}