.venue-attraction-container {
    display: flex;
    gap: 1.5rem;
    padding: 2rem;
    justify-content: center;
    align-items: flex-start;
    background-color: #b8b6b6;
}

.venue-attraction {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.venue-attraction-h2 {
    text-align: center;
    font-size: 3rem;
    margin: 0;
}

.venue-attraction-span {
    text-align: center;
    font-size: 1.5rem;
}

.venue-attraction-list {
    list-style-type: none;
    padding: 0;
    column-count: 2;
    column-gap: 1rem;
    margin: 0;
}

.venue-attraction-list li {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.venue-attraction-simple-slider {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .venue-attraction-container {
        flex-direction: column;
        align-items: center;

    }

    .venue-attraction-list {
        column-count: 1;
    }

    .venue-attraction-h2 {
        font-size: 2.5rem;
    }

    .venue-attraction-span {
        font-size: 1.25rem;
    }
}

@media (max-width: 480px) {
    .venue-attraction-h2 {
        font-size: 2rem;
    }

    .venue-attraction-span {
        font-size: 1rem;
    }

    .venue-attraction-list li {
        gap: 0.25rem;
    }
}