.venue-attraction-container {
    display: flex;
    gap: 1.5rem;
    padding: 2rem;
    justify-content: center;
    align-items: flex-start;
    /* background-color: #e1fee1; */
    /* background: linear-gradient(to bottom, rgba(224, 248, 189, 0) 0%, rgba(176, 239, 82, 0.144) 50%, rgba(255, 255, 255, 0) 100%); */
    /* border: 10px groove #9bdb3b36; */
    /* box-shadow: inset 5px 5px 15px rgba(91, 91, 91, 0.5); */


}

.venue-attraction {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.venue-attraction-h2 {
    text-align: center;
    font-size: 3rem;
    margin: 0;
    color: #3d7a00;
}
.venue-content-p{
    color: #576542;
    font-size: 1rem;
    text-align: justify;
}


.venue-attraction-simple-slider {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .venue-attraction-container {
        flex-direction: column;
        align-items: center;

    }

    .venue-attraction-list {
        column-count: 1;
    }

    .venue-attraction-h2 {
        font-size: 2.5rem;
    }

    .venue-attraction-span {
        font-size: 1.25rem;
    }
}

@media (max-width: 480px) {
    .venue-attraction-h2 {
        font-size: 2rem;
    }

    .venue-attraction-span {
        font-size: 1rem;
    }

    .venue-attraction-list li {
        gap: 0.25rem;
    }
}