/* Container for both sections */
.venue-attraction-conatiner {
    display: flex;
    gap: 1rem; /* Adjust gap between sections if needed */
    padding: 2rem;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    background-color: #b8b6b6;
}

/* Style for the venue-attraction section */
.venue-attraction {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1; 
}

/* Center the h2 element */
.venue-attraction-h2 {
    text-align: center;
    margin: 0;
}

/* Style for the span element */
.venue-attraction-span {
    text-align: center;
}

/* Style for the list of items */
.venue-attraction-list {
    list-style-type: none;
    padding: 0;
    column-count: 2; 
    column-gap: 0rem; 
    margin: 0;
}

/* Style for list items */
.venue-attraction-list li {
    margin-bottom: 0.5rem; 
    
}

/* Style for the slider container */
.venue-attraction-simple-slider {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
}
