.health-conference {
    position: relative;
}

.health-conference-img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    z-index: 0;
    filter: brightness(0.5);
}

.health-conference-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    padding: 20px;
    color: black;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.704); /* Make the box semi-transparent */
    text-align: center;
}
.health-conference-hero-box{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 3px;
}
.health-conference-hero-box-span{
    font-weight: bold;
}
.health-conference-hero-box-button{
    gap: 1rem;
}
.health-conference-button{
    color: rgb(255, 255, 255);
    padding: 0.5rem;
    background-color: #000000;
    gap: 1rem;
    margin: 0.2rem;
    border-radius: 5px;
    border: none;
    
}
.health-conference-button:hover{
    background-color: rgba(255, 255, 255, 0);
    color: #000000;
    border: 1px solid black;
}