/* CSS for slider container */
.slider-container {
    width: 30%; 
    margin: 0 auto; 
    max-width: 1200px;
    border: 1px solid black; 
    transition: scroll 3s;
  }
  
  .slider-container img {
    width: 100%; 
    height: 400px; 
    object-fit: cover; 
  }
  