/* CSS for slider container */
.slider-container {
    width: 100%;
    max-width: 500px; 
    border: 1px solid black; 
}

.slider-container img {
    width: 100%; 
    height: 350px; 
    object-fit: cover; 
}
