.contact-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 2rem;
    gap: 2rem; 
  }
  
  .contact-form {
    flex: 0 0 auto;
    width: 25rem;
    padding: 1rem;
    background-color: rgb(240, 236, 236);
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: -6px 10px 10px rgba(0, 0, 0, 0.3);

  }
  
  .contact-form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
    width: 95%; 
    height: 20rem;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 0.2rem;
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form .textarea {
    width: 100%; 
    padding: 0.3rem;
    margin-bottom: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .contact-form .textarea {
    min-height: 5rem;
  }
  
  .contact-form button {
    align-self: center; 
    padding: 10px 20px;
    width: auto;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
  }
  .contact-form button:hover{
    background-color: rgb(240, 236, 236);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.3);


  }
  .contact-map iframe {
    border: none;
    border-radius: 4px;
  }
  
  .contact-map {
    flex: 0 0 auto; 
    width: 25rem;  
    /* box-shadow: 1px 3px 10px 5px rgba(0, 0, 0, 0.3); */
    border: 1px solid black;
    border-radius: 5px;

  }
  