.registeration-section {
    background-color: #9c9f99;
    color: #ffffff;
    padding: 50px 0;
    text-align: center;
}

.containerr {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.registeration-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #000;
}

.registeration-description {
    font-size: 1.3rem;
    margin-bottom: 40px;
    width: 80%;
    margin: 0 auto;
    color: #000;
}

.registeration-info-contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: nowrap;
    margin-top: 30px;
}

.registeration-card {
    background-color: #ffffff;
    color: #000;
    padding: 3rem;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 20rem;
    height: 10rem;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.registeration-card:hover {
    background-color: #ffffff;
    box-shadow: 0px 0px 10px black;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    transition: box-shadow 1s;
}

.registeration-icon {
    font-size: 3rem !important;
    color: #1a202c;
    margin-bottom: 15px;
}

.registeration-text h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.registeration-text p {
    font-size: 1rem;
}

.registration-btn {
    color: black;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
    padding: 0.3rem;
    cursor: pointer;
    transition: font-size 0.5s;
}

.registration-btn:hover {
    font-size: 1.3rem;
}

@media screen and (max-width: 1024px) {
    .registeration-info-contact {
        flex-wrap: wrap;
    }

    .registeration-card {
        width: 45%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    .registeration-info-contact {
        flex-direction: column;
        align-items: center;

    }

    .registeration-card {
        width: 80%;
        margin-bottom: 20px;
    }

    .registeration-title {
        font-size: 2rem;
    }

    .registeration-description {
        font-size: 1.1rem;
        width: 100%;
    }
}