.body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hero-section {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.61);
    z-index: 1;
}

.hero-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.home-h1 {
    font-size: 4rem;
    color: #ffffff;
    text-shadow: 3px 5px 5px rgba(34, 35, 34, 0.74);
}

.home-h4 {
    color: white;
    font-size: 1.5rem;
}


/* --------content 1------ */
.content-1 {
    display: flex;
    justify-content: space-between; /* Distribute space between text and image */
    align-items: center;
    /* padding: 2rem; */
    width: 70%;
    margin: 0 auto; /* Center the container */
}

.content-1-details {
    flex: 1;
    max-width: 60%;
    padding: auto;
}

.content1-h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
}

.content1-p {
    font-size: 1rem;
    color: #666;
    text-align: justify;
}

.content1-pic {
    flex-shrink: 0;
    padding: 0.5rem;
}

.content1-pic img {
    width: 15rem; 
    height: 15rem; 
    object-fit: cover; 
    border-radius: 10px;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.3);
}
