@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


.body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    /* font-family: 'Comfortaa', sans-serif; */
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;


}

.hero-section {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.61);
    z-index: 1;
}

.hero-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}


/* Container for video */
.home-main {
    top: 0;
}

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

/* Video styling */
.video-bg video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    filter: brightness(0.3);
}

/* Content styling, ensures it is above the video */
.video-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* margin: 2rem auto; */
    z-index: 2;
}

.content-1 {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
    align-items: center;
    width: 70%;
    margin: 2rem auto;
    z-index: 2;
}

.home-h1 {
    font-size: 4rem;
    color: #ffffff;
    text-shadow: 3px 5px 5px rgba(34, 35, 34, 0.74);
    white-space: nowrap;
    margin-bottom: 0;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.home-h4 {
    margin-top: 0;
    color: white;
    text-shadow: 3px 5px 5px rgba(34, 35, 34, 0.74);
    font-size: 1.5rem;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-style: normal;

}

.content-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 2rem auto;
}

.content-1-details {
    flex: 1;
    max-width: 60%;
}

.content1-h2 {
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 1rem;
    
}

.content1-p {
    font-size: 1rem;
    color: #ffffff;
    text-align: justify;
}

.content1-pic {
    flex-shrink: 0;
    padding: 0.5rem;
}

@keyframes image-move {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes image-rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
        /* Complete one full rotation */
    }
}

.content1-pic img {
    margin-left: 2rem;
    margin-top: 3rem;
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    animation: image-move 5s infinite ease-in-out;
    animation: image-rotate 100s infinite linear;

}

@media screen and (max-width: 1024px) {
    .content-1 {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .content-1-details {
        max-width: 100%;
        text-align: center;
    }

    .content1-pic {
        margin-top: 1rem;
    }

    .content1-pic img {
        width: 12rem;
        height: 12rem;
    }

    .home-h1 {
        font-size: 3rem;
    }

    .home-h4 {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 768px) {
    .home-h1 {
        font-size: 2.5rem;
        white-space: inherit;
        margin-top: 3rem;
    }

    .home-h4 {
        font-size: 1rem;
    }

    .content1-h2 {
        font-size: 1.5rem;
    }

    .content1-p {
        font-size: 0.9rem;
    }


}