@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

body{
    margin: 0;
    padding: 0;
}


.hero-section {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.61);
    z-index: 1;
}

.hero-picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}



/* Container for video */
.home-main {
    position: relative;
    height: 100vh;
    top: 0;
    padding: 1rem;
}

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0; /* Changed to 0 to prevent being hidden behind other content */
}


.video-content {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 2;
}

/* .content-1 {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 2rem auto;
    background-color: #dad5d5;
    align-items: center;
    width: 70%;
    height: 60%;
    margin: 2rem auto;
    z-index: 2;
} */


.content-1 {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    min-height: 30rem; 
    margin: 2rem auto;
    /* background-color: rgb(231, 248, 236); */
    padding: 2rem;
    border-radius: 50px;
}

.home-h1 {
    font-size: 4rem;
    color: #9cdb3b;
    top: 2rem;
    /* text-shadow: 3px 5px 5px rgba(34, 35, 34, 0.74); */
    white-space: nowrap;
    margin-bottom: 0;
    font-family: "Roboto Slab";
    font-optical-sizing: auto;
    font-style: normal;
    /* margin-top: -8rem; */
}

.home-h4 {
    margin-top: 0;
    
    /* text-shadow: 3px 5px 5px rgba(34, 35, 34, 0.74); */
    font-size: 1.3rem;
    font-family: "Roboto Slab";
    font-style: normal;
}


.content-1-details {
    flex: 1;
    max-width: 60%;
}




.content1-pic {
    flex-shrink: 0;
    padding: 0.6rem;
    right: 0;
}


.content1-pic img {
    transform: translateX(7.2rem);
    margin-top: -3rem;
    width: 30rem;
    height: 30rem;
    object-fit: cover;
    right: 0;
    /* border: 1px solid #9bdb3b; */
    /* box-shadow: 0px 0px 40px solid #000000 ; */

}
.rectangle {
    width: 15%;
    height: 90%; 
    background-color: #9bdb3b;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    position: absolute; 
    top: -5rem; 
    right: 1rem;
    box-shadow: 0px 0px 5px black; /* Fixed typo here */
    z-index: 1;
}
.register-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /* left: 11%; */
    top: 92%;
    transform: translateX(-50%);
}
.register-button button{
    font-size: 1.5rem;
    background-color: #3d7a00;
    color: #ffffff;
    border-radius: 10px;
    padding: 0.4rem;
    width: 8rem;
    height: auto;
    border: none;
    cursor: pointer;
    /* margin-top: 1rem; */
    text-align: center;
    transition: background-color 1s ease, color 1s ease; 
}
.register-button button:hover{
    border: 1px solid #3d7a00;
    background-color: #3d7a0000;
    color: #3d7a00;
}


.content1-h2 {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 1rem;
    color: #9cdb3b;
    
}
.content1-p {
    width: 45rem;
    font-size: 1rem;
    text-align: justify;
}



@media screen and (max-width: 1024px) {
    .content-1 {
        flex-direction: column;
        align-items: center;
        width: 90%;
    }

    .content-1-details {
        max-width: 100%;
        text-align: center;
    }

    .content1-pic {
        margin-top: 1rem;
    }

    .content1-pic img {
        width: 12rem;
        height: 12rem;
    }

    .home-h1 {
        font-size: 3rem;
    }

    .home-h4 {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 768px) {
    .home-h1 {
        font-size: 2.5rem;
        white-space: inherit;
        margin-top: 3rem;
    }

    .home-h4 {
        font-size: 1rem;
    }

    .content1-h2 {
        font-size: 1.5rem;
    }

    .content1-p {
        font-size: 0.9rem;
    }
    .register-button button {
        font-size: 1.5rem;
        width: 8rem;
    }


}