.contact-sextion{

    /* background-image: url('https://images.pexels.com/photos/28536200/pexels-photo-28536200/free-photo-of-scenic-view-of-lake-through-leafy-archway.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); */
    width: 100%;
    height: 100%;
    /* background-size: cover; */
    /* background-position: center; */
}
.contact-section {
    width: 100%;
    /* background-color: #c0c3bf; */
    color: #000;
    padding: 50px 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.contact-page-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #3d7a00;
}

.contact-page-description {
    font-size: 1.3rem;
    text-align: justify;
    /* text-align: center; */
    margin-bottom: 40px;
    width: 80%;
    margin: 0 auto;
    color:  #576542;
}

.contact-page-info-contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.contact-page-info-card {
    background-color: #ffffff;
    color: #000;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 20rem;
    height: 10rem;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    word-wrap: break-word;
    overflow: hidden;
    border: 1px solid #9cdb3b;
    transition: all ease-in 1s;
}

.contact-page-info-card:hover{
    font-size: 3rem;
}



.contact-page-icon {
    font-size: 3rem !important;
    color: #1a202c;
    margin-bottom: 15px;
}

.info-text h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.info-text p {
    font-size: 1rem;
}

@media screen and (max-width: 1024px) {
    .contact-info-contact {
        flex-wrap: wrap;

    }

    .info-card {
        width: 45%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    .contact-info-contact {
        flex-direction: column;
        align-items: center;
    }

    .info-card {
        width: 80%;
        margin-bottom: 20px;
    }

    .contact-title {
        font-size: 2rem;

    }
    .footer-left {

        width: 100%;
    }

    .contact-description {

        font-size: 1.1rem;
        width: 100%;

    }
}