.brochure-h1{
    font-size: 3rem;
    color: #3d7a00;
    white-space: nowrap;
    text-shadow: 0px 5px 4px#ffffffa8;
    /* font-family: "Roboto Slab"; */
}
@media (max-width:768px) {
    .brochure-h1{
        white-space: inherit;
        font-size: 2rem;
        margin-top: 4rem;
    }
    
}
@media (max-width:468px) {
    .brochure-h1{
        white-space: inherit;
        font-size: 1.5rem;
        margin-top: 6rem;
    }
    
}