.abstract-container {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    padding: 5rem;
    flex-wrap: wrap;
}

.abstract-form {
    flex: 0 0 auto;
    width: 50%;
    height: auto;
    padding: 1rem;
    background-color: rgb(252, 250, 250);
    border-radius: 5px;
    border: 2px solid rgba(62, 59, 59, 0.532);
}

.abstract-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.abstract-form label {
    display: block;
    width: 100%; 
    margin-bottom: 0.5rem; 
    font-weight: bold;
    font-size: 1.2rem; 
}

.abstract-form input,
.abstract-form .textarea,
.abstract-form .react-tel-input input { 
    width: 100%; 
    height: 2rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.abstract-form .react-tel-input {
    width: 100%; 
}

.abstract-form .textarea {
    min-height: 6rem;
}

.abstract-form button {
    align-self: center;
    padding: 10px 20px;
    width: auto;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.abstract-form button:hover {
    background-color: rgb(240, 236, 236);
    box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.3);
}
.abstract-form select {
    width: 100%; 
    height: 2rem; 
    margin-bottom: 1rem; 
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0.25rem; 
}




