body {
    margin: 0;
    padding: 0;
}

.nav-up-color {
    position: fixed;
    top: 0;
    width: 100%;
    align-items: center;
    background-color: #9cdb3b;
    height: 1rem;
    z-index: 0;
}


.logo {
    position: absolute;
    z-index: 101;
}

.logo img {
    width: 7rem;
    height: auto;
    margin-left: 3rem;
    margin-top: 0.5rem;
    border-radius: 10px;
    z-index: 101;
}

.navbar {
    position: fixed;
    top: 0rem;
    z-index: 100;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid transparent;
    box-shadow: none;
    color: black;
    transition: background-color 0.3s ease, border-bottom 0.3s ease;
    /* Smooth transition */
}

.scrolled {
    background-color: #ffffff;
    color: black;
    border-bottom: 1px solid black;
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.3);
}


.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    position: relative;
}

.navbar ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px 10px;
    padding-top: 0;
    display: flex;
    align-items: center;
}

.active-link {
    color: #ffffff !important;
    font-weight: bold;
    /* border-bottom: 2px solid #9cdb3b; */
    background-color: #9cdb3b;
    height: 2rem;
    top: 0;
    left: 0;
    border-bottom-right-radius: 90%;
    border-bottom-left-radius: 90%;
}


.navbar ul li:hover {
    width: auto;
    color: #575470;
}

.navbar ul li a:hover {
    color: #9cdb3b;
}

.menu-icon {
    display: none;
    font-size: 24px;
    color: #9cdb3b;
    cursor: pointer;
    padding: 10px;
}

/* Dropdown Styling */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    z-index: 1;
    left: 0;
    top: 30px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, color 0.3s ease;
    margin: 0;
    padding: 0;
    width: 14rem;
    border: 1px solid black;
    justify-content: center;
}

.dropdown-content li {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #ddd;
    padding: 0.5rem 1rem;
    margin: 0;
    padding: 0;
}

.dropdown-content li a {
    display: block;
    padding: 10px 15px;
    /* color: white; */
    text-decoration: none;
    align-items: center;
    display: flex;
    align-items: center;
}

.dropdown-content li:last-child {
    border-bottom: none;
}

.navbar ul li:hover .dropdown-content {
    display: block;
    height: fit-content;
    opacity: 1;
    visibility: visible;
}

.nav-links-container {
    display: flex;
    align-items: center;
    margin-left: 18rem;
}

.nav-register-button {
    margin-left: 4.5rem;
    align-items: center;
    justify-content: center;
}

.nav-register-button button {
    font-size: 1rem;
    background-color: #3d7a00;
    border: none;
    color: #fff;
    border-radius: 3px;
    padding: 0.4rem 1rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-register-button button:hover {
    background-color: #ffffff00;
    border: 1px solid #3d7a00;
    color: #3d7a00;
}


@media (max-width: 768px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        cursor: pointer;
        background-color: #fff;
    }

    .navbar ul.active {
        display: flex;
    }

    .navbar ul li {
        width: 100%;
        height: auto;
        text-align: center;
    }

    .navbar ul li a {
        padding: 10px;
        display: block;
    }

    .dropdown-content {
        position: static;
        width: 100vw;
        height: auto;
        border: none;
    }

    .dropdown-content li a {
        padding: 15px;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        font-size: 2rem;
        color: rgb(0, 0, 0);
        margin: 5px;
        display: flex;
        justify-content: flex-end;
        margin-right: 2rem;
    }

    .logo img {
        width: 6rem;
        margin-left: 2rem;
        margin-top: 0.5rem;
    }

    .nav-register-button {
        display: none;
    }
}