.upcoming-conference-h1 {
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

.upcoming-conference-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width: 100%;
    height: 100%;
    gap: 1rem;
    flex-wrap: wrap;
}

.upcoming-conference-details {
    border: 1px solid black;
    padding: 1rem;
    width: 230px;
    height: 350px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
}

.upcoming-conference-details:hover {
    box-shadow: 5px 5px 10px 4px rgba(0, 0, 0, 0.3);

}

.upcoming-conference-img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.upcoming-conference-img:hover {
    box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.3);
    border: 1px solid black;
}

.upcoming-conference-link {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.upcoming-conference-link:hover {
    color: #000dff;
}

.upcoming-conference-p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    margin: 0;
}

.upcoming-conference-p>span {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.upcoming-conference-p>span:first-child {
    margin-bottom: 0.5rem;
}

.upcoming-conference-button {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
    padding: 0.5rem;
    align-items: center;
    margin-top: 0.5rem;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
}

.upcoming-conference-button:hover {
    box-shadow: 5px 5px 10px 4px rgba(0, 0, 0, 0.3);
}

/* Media queries for responsiveness */

@media (max-width: 768px) {
    .upcoming-conference-container {
        flex-direction: row;
        align-items: center;
    }



    .upcoming-conference-button {
        width: 70%;
    }
}