/* .conferenece-award-nomination{
    width: 70%;
    
} */
.award-nomination {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    font-size: 1.3rem;
}

.award-nomination-span {
    font-weight: bold;
    text-decoration: underline;
}

.award-nomination-h1 {
    font-size: 3rem;
}



