/* .conferenece-award-nomination{
    width: 70%;
    
} */
.award-nomination {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    font-size: 1.3rem;
}

.award-nomination-span {
    font-weight: bold;
    text-decoration: underline;
}

.award-nomination-h1 {
    font-size: 3rem;
}




.contact-section {
    background-color: #1a202c;
    color: #ffffff;
    padding: 50px 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.contact-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.contact-description {
    font-size: 1.1rem;
    margin-bottom: 40px;
}

.contact-info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px; /* Space between the boxes */
    flex-wrap: nowrap;
    margin-top: 30px;
}

.info-card {
    background-color: #ffffff;
    color: #000;
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 30%;
    text-align: center; /* Center-align content inside the box */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-icon {
    font-size: 3rem;
    color: #1a202c;
    margin-bottom: 15px; /* Adds spacing between the icon and text */
}

.info-text h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.info-text p {
    font-size: 1rem;
}

@media screen and (max-width: 1024px) {
    .contact-info {
        flex-wrap: wrap;
    }

    .info-card {
        width: 45%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 768px) {
    .contact-info {
        flex-direction: column;
        align-items: center;
    }

    .info-card {
        width: 100%;
        margin-bottom: 20px;
    }
}
