

.hero-section {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.26);
    z-index: 1;
}

.hero-picture {
    filter: blur(5px);
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 2;
}

.hero-h1 {
    color: #9cdb3b;
    font-size: 4rem;
    text-shadow: 0px 5px 4px #000000;
}

.award-nomination {
    width: 80%;
    margin: 0 auto;
    text-align: justify;
    font-size: 1.3rem;
}

.award-nomination-span {
    font-weight: bold;
    text-decoration: underline;
}

.award-nomination-h1 {
    font-size: 2rem;
    text-decoration: underline #9cdb3b;
}

.award-nomination-p {
    font-size: 1rem;
    color: #576542;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .hero-section {
        height: 40vh; 
    }
    
    .hero-h1 {
        font-size: 3rem; 
    }

    .award-nomination {
        width: 90%;
        font-size: 1.1rem; 
    }

    .award-nomination-h1 {
        font-size: 1.5rem; }

    .award-nomination-p {
        font-size: 0.9rem; 
    }
}

@media (max-width: 480px) {
    .hero-section {
        height: 30vh; 
    }

    .hero-h1 {
        font-size: 2.5rem; 
    }

    .award-nomination {
        width: 95%; 
        font-size: 1rem; 
    }

    .award-nomination-h1 {
        font-size: 1.2rem; 
    }

    .award-nomination-p {
        font-size: 0.85rem; 
    }
}
