.registration-type {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.registration-section {
    flex: 1;
    min-width: 20rem;
}

.registration-table {
    width: 100%;
    display: table;
}

.registration-section {
    width: 20rem;
    display: flex;
    flex-direction: row;
}



.registration-title {
    color: #0f0f0f;
}





.registration-table,
.sponsor-table {
    width: 100%;
    border-spacing: 0;
    /* margin-top: 10px; */
}

.registration-row {
    border: 1px solid black;
    /* border:none; */
}

.registration-category,
.sponsor-category {
    padding: 10px;
    vertical-align: middle;
}

.registration-option,
.sponsor-price {
    padding: 10px;
    vertical-align: middle;
}

.registration-checkbox,
.sponsor-checkbox {
    margin-right: 10px;
}

.registration-category-head {
    background-color: #aaffac;
    font-size: 1rem;
}

.registration-option-head {
    background-color: #aaffac;
    font-size: 0.9rem;
}




/* ----------------sponsor css---------------- */

.sponsor-section {
    /* padding: 10px; */
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

.sponsor-table {
    width: 100%;

}

.sponsor-name,
.sponsor-price {
    border: 1px solid rgb(131, 131, 131);
    padding: 10px;
    vertical-align: middle;
}

/* .sponsor-category {
    border: 1px solid rgb(155, 155, 155);
} */

.sponsor-name {
    padding: 10px;
    vertical-align: middle;
    background-color: #aaffac;
}

.sponsor-price {
    padding: 10px;
    vertical-align: middle;
}

.sponsor-checkbox {
    margin-right: 10px;
}

.sponsor-title {
    color: #0f0f0f;
    margin-bottom: 10px;
}



/* -----------------Accommodation ----------------------*/

.accommodation {
    margin-top: 3rem;
    padding: 0;

}

.accommodation-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #ddd;
}

.accommodation-category-head,
.accommodation-option-head {
    background-color: #aaffac;
    text-align: left;
    padding: 12px;
    border: 1px solid rgb(110, 110, 110);
}

.accommodation-row,
.accommodation-category,
.accommodation-option {
    border: 1px solid rgb(92, 92, 92);

}

.accommodation-row {
    border: 1px solid #ddd;
}

.accommodation-category {
    padding: 1rem;
}

.accommodation-option {
    padding: 1rem;
    text-align: left;
}

.accommodation-checkbox {
    margin-right: 5px;
}


/* ------------------------------additional-info------------------------------------------ */

.additional-info {
    display: flex;
    /* justify-content: space-between;  */
    gap: 3rem;
    margin-top: 20px;
}

.participants,
.checkin-date {
    display: flex;
    flex-direction: column;
    /* margin-right: 20px;  */
}

.participants-label,
.participants-date {
    margin-bottom: 10px;

}

.participants select,
.checkin-date input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 30rem;

}

.participants select:focus,
.checkin-date input:focus {
    border-color: #007bff;
    outline: none;
}

.checkin-date input {
    max-width: 200px;
}


/* --------------Registration-Details----------- */

.registration-details {
    margin-top: 20px;
}

.registration-details-table {
    width: 100%;
    border-collapse: collapse;
}

.registration-details-label {
    padding: 10px;
    background-color: #f9f9f9;
    text-align: left;
}

.registration-details-value {
    padding: 10px;
    text-align: right;
    font-weight: normal;
    color: #333;
    background-color: #fff;
}
.registration-details-value-total {
    font-weight: bold;
    padding: 10px;
    text-align: right;
    color: #333;
    background-color: #fff;
 }

.registration-details-label,
.registration-details-value {
    border: 1px solid rgb(110, 110, 110);
}
.registration-details-value-total,
.registration-details-label-total
 {
    border: 1px solid rgb(110, 110, 110);
    font-weight: bold;
    font-size: 1.5rem;
    padding-left: 0.5rem ;
}


.registration-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.4rem;
    font-size: 1.5rem;
    border-radius: 10px;
    margin-top: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .registration-button:hover {
    transform: scale(1.1); 
  }
  