/* register.css */

.register-container {
  max-width: 80%;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.register-form {
  display: flex;
  flex-direction: column;
}

.register-title {
  text-align: center;
  margin-bottom: 20px;
}

.register-field {
  margin-bottom: 15px;
}

.register-label {
  display: block;
  margin-bottom: 5px;
}

.register-input,
.register-select,
.register-textarea {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register-input[type="number"] {
  width: auto;
  display: inline-block;
}

.register-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.register-row .register-field {
  flex: 1;
}

.register-summary {
  margin-top: 20px;
  padding: 10px;
  background-color: #e9ecef;
  border-radius: 4px;
}

.register-price,
.register-total {
  margin: 5px 0;
}

.register-submit {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.register-submit:hover {
  background-color: #0056b3;
}



/* Container for country and abstract category */
.register-row.country-abstract-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.register-row.country-abstract-row .register-field {
  flex: 1;
}

.register-country {
  display: block;
  margin-bottom: 15px;
}

.register-field-country {
  width: 100%;
}

.react-flags-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.react-flags-select__button {
  background-color: white !important;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 4px;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.react-flags-select__button:hover {
  border-color: #007bff;
}

.react-flags-select__options {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 5px;
}

.react-flags-select__option {
  padding: 10px;
  cursor: pointer;
}

.react-flags-select__option:hover {
  background-color: #f1f1f1;
}

.react-flags-select__option--selected {
  background-color: #007bff;
  color: white;
}


.register-abstract-select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
}
