.Climate-Change-main {
    justify-content: center;
    padding: 1rem;
    background-color: rgb(240, 236, 236);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Climate-Change-h1,
.Climate-Change-p,
.target-audience-h1 {
    color: black;
    margin-left: 11rem;
}

.Climate-Change-p {
    margin-right: 13rem;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.Climate-Change-content {
    display: flex;
    margin-left: 11rem;
    margin-right: 13rem;
}

.Climate-Change-img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    display: block;
}

.Climate-Change-content-p {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Climate-Change-content-item {
    display: flex;
    align-items: left;
    gap: 0.5rem;
}

.Climate-Change-content-item > svg {
    background-color: #e5e5e500;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    margin-left: 1rem;
    padding: 0.3rem;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.Climate-Change-content-item p {
    margin: 0;
    line-height: 1.5;
}

.target-audience {
    color: black;
}

.target-audience-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 11rem;
    margin-right: 3rem;
}

.target-audience-text {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.target-audience-item {
    display: flex;
    align-items: left;
    gap: 0.5rem;
    line-height: 1.5;
}

.target-audience-img {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    margin-right: 11rem;
    margin-top: -6rem;
}

.target-audience-img-item {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}

.target-audience-item p {
    margin: 0;
    line-height: 1.5;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .Climate-Change-h1,
    .target-audience-h1 {
        font-size: 2rem;
        margin-left: 1rem;
    }

    .Climate-Change-p {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

    .Climate-Change-content {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }

    .Climate-Change-img {
        width: 100%;
        height: auto;
    }

    .Climate-Change-content-p {
        margin: 1rem;
    }

    .target-audience-content {
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-right: 0;
    }

    .target-audience-img {
        margin: 0;
        justify-content: center;
    }

    .target-audience-img-item {
        width: 100%;
        height: auto;
    }
}
